/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.direita {
	float: right !important;
	text-align: right;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
	height: 56px;
	background: #4e4b48;
	
	.menus {
	  text-align: right;
	}
	.menu {
    display: inline-block;
  }
  .menu_user {
    display: inline-flex;
    margin: 18px 15px;
    p{
      color: #fff;
    }
    a {
      margin-left: 10px;
      display: inline;
    }
  }
	ul {
	  list-style: none;
	  li, li a {
	    display: inline;
	    padding: 20px 13px;
	    background-color: #41c4dd;
	    margin: -1.5px;
	    color: #fff;
      /*color: #FFF !important;
      padding: 8px 0px;
      margin-right: 1px;*/
    }
	}
	
	
	.logo {
    margin-top: 12px;
    margin-right: 50px;
      img {
        width: 90px;
      }
  }		
}

.bt_azul {
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 11px 9px;
  display: inline-block;
  
  a {
    padding: 6px 25px;
    background: #41c4dd;
    color: #fff;
    box-shadow: inset 2px 2px 4px #0487a0;
    -moz-box-shadow: inset 2px 2px 4px #0487a0;
    -webkit-box-shadow: inset 2px 2px 4px #0487a0;
    border:none;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  
}



