<hr class="linha_divisao"/>
		
<div class="container">
	<div class="painel_menu">
		
		<div class="span12 clearfix navbar" >
			<ul class="nav direita">
				<li class=""><%= link_to "Painel de controle", painel_path %></li>
				<li class=""><%= link_to "Meus dados", painel_meusdados_path %></li>
				<li class=""><a href="#">Seu carrinho</a></li>
			</ul>
		</div>
	</div>
</div>		
<hr class="linha_divisao"/>